
<div>
	<h1>Formation académique</h1>
	<p><%=@pf.description%></p>
		<ul>
			<%@pfs.each do |field|%>
			<li>
				<h2>
					<%=link_to field.title, af_field_path(1, field.id)%>				
				</h2>
			</li>
			<%end%>
		</ul>
</div>