	<div>
		<%=form_with url: mf_comment_path(params[:mf_id], params[:comment_id]), action:"create", method: :post, local: true do |f|%>
			<%=f.text_area :body, value: "#{@comment.body}"%>
			<%=f.submit "Envoyer"%>
		<%end%>
	</div>	
		