
<div class="FA-container">
	<div class="FA-title">
		<h1 class="FA-title-content" >Formations Professionelles</h1>
	</div>
	<div class="FA-cont-list">
		<% @professionalformations.each do |fp| %>
			<div class="FA-lst-titre">
				<%= fp.titre %>
				<%=link_to "voir",professional_formation_path(fp.id)%></a></td>
			</div>		
		<%end%>
	</div>
	<div id="FA-bout-offre">
		<%=link_to "Proposer une formation >>>", new_professional_formation_path,  class:"FA-bout"%>
	</div>	
</div>
<hr>
