
<%=form_tag professional_formations_path, method: "post", class: "sign-container"  do %>
    <h1 class="fa-head-title">Proposer une nouvelle formation</h1>
    <%= render "layouts/form_Profess" %>
<% end %>
<br><br>
<small> <%= render "../views/layouts/footer"%> </small>