
<%=form_tag offre_emplois_path, method: "post", class: "sign-container"  do %>
    <h1 class="fa-head-title">Proposer une nouvelle offre d'emploi</h1>
    <%= render "layouts/form_emploi" %>
<% end %>
