<form class="sign-container">
<h1 class="fa-head-title">Proposer une nouvelle offre d'emploi</h1>
<%=form_tag offre_emplois_path, method: "post"  do %>
<%= render "layouts/form_emploi" %>
<% end %>
</form>