<div>
	<%=form_with url: mf_comment_answer_path(params[:mf_id], params[:comment_id], params[:id]), action:"update", method: :patch, local: true do |f|%>
	<%=f.text_area :body, value: "#{@answer.body}"%>
	<%=f.submit "Modifier"%>
	<%end%>
</div> 