	<div>
		<%=form_with url: field_job_jobcom_path(params[:field_id], params[:job_id], params[:id]), action:"update", method: :patch, local: true do |f|%>
			<%=f.text_area :body, value: "#{@comment.body}"%>
			<%=f.submit "Modifier"%>
		<%end%>
	</div>	
		