<h2>Editer commentaire</h2>
<%= form_tag  offre_emploi_commentaire_emploi_path(@commentaire.offre_emploibi_id,@commentaire.id),controller: "commentaire_academiques", method: "put" do %>
<%= text_area_tag :contenu %>
<%= submit_tag :envoyer%>
<% end %>