<h2>Editer reponse:</h2>
<%= form_tag     professional_formation_commentaire_professionel_reponse_professionnel_path(@reponse.commentaire.professional_formation_id,@reponse.commentaire_id, @reponse.id),controller: "reponse_professionnels", method: "put" do %>
<%= text_area_tag :contenu %>
<%= submit_tag :envoyer%>
<% end %>