
<form class="sign-container fa-black-bg">
<h1 class="fa-head-title">Editer les informations sur cette formation</h1>
<%=form_tag  formation_academique_path(@formation.id), method: "put" do %>
<%= render "layouts/form_Academique" %>
<% end %>
</form>