
<%=form_tag  formation_academique_path(@formation.id), method: "put", class:"sign-container fa-black-bg" do %>
    <h1 class="fa-head-title">Editer les informations sur cette formation</h1>
    <%= render "layouts/form_Academique" %>
<% end %>
<br><br>
<small> <%= render "../views/layouts/footer"%> </small>