

<%=form_tag formation_academiques_path, method: "post", class:"sign-container"  do %>
<h1 class="fa-head-title"> Proposer une nouvelle formation</h1><br>
<%= render "layouts/form_Academique" %>
<% end %>
<br><br>
<small> <%= render "../views/layouts/footer"%> </small>
