<form class="sign-container">
<h1 class="fa-head-title"> Proposer une nouvelle formation</h1><br>
<%=form_tag formation_academiques_path, method: "post"  do %>
<%= render "layouts/form_Academique" %>
<% end %>
</form>