<div class="aides">

<h3>S'INSCRIRE</h3>
<p>Si vous n'êtes pas encore inscrit(e)s, vous devrez d'abord <a href="<%= new_user_registration_path%>">s'incrire</a>pour avoir une compte et d'avoir accès au forum</p>
<br>
<h3>SE CONNECTER</h3>
<p>Si vous êtes inscrit(e)s, et que vous voulez <a href="<%= new_user_session_path%>">se connecter</a>,afin que vous ayez l'accès directe de votre profile</p>
<br>
<h3>FORUM:</h3>
<h5>FORMATIONS</h5>
<p>Pour cette fonctionalité,il faut que l'utilisateur soit <a href="<%= new_user_registration_path%>">inscrit(e)s</a> pour être parmis <a href="<%= new_user_registration_path%>">les membres</a> et avoir l'accès à tous les fonctionnalité du site.</p>
<p>Etant connecter,l'utilisateur pourait participer sur notre forum.<br>
<li>
	<ul><h6>Formation</h6></ul>
	<p>Les formation indexée sont des publication commit par l'utilisateur;</p>
	<ul><h6>Offre</h6></ul>
	<p>Les offres indexées sont des publications commit par l'utilisateur;</p>
</li></p>
<br>
<h5>Apropos de nous</h5>
<p>Talki-Walki est une site de discussion pour les jeunes actif et qui veut partager avec beaucoup de ses amis;<br>
De son côté,Talki-Walki offre une opportunité pour les membres de voir les publications des entreprises.</p>

</div>