<label style="font-size:15px;cursor:pointer" onclick="openNav02()">&#9776;A propos</label>
<div id="aide02" class="aide">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav02()">&times;</a>
  <form class="aide-content" action="">
    <div class="aide_containeur02" style="padding: 16px;">
      <h4 style="text-align: center;">à propos </h4>
      
        
      <div class="aide_btn">
        
      </div>
    </div>
  </form>
</div>

<script>
  function openNav02() {
    document.getElementById('aide02').style.width = "25%";
  };
  function closeNav02() {
  document.getElementById("aide02").style.width = "0%";
  };
</script>