<link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
<label style="font-size:15px;cursor:pointer" onclick="openNav03()">&#9776;Contacte</label>
<div id="aide03" class="aide">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav03()">&times;</a>
  <form class="aide-content" action="">
    <div class="aide_containeur03" style="padding: 16px;">
        <p>Communiquez vous avec Talki-Walki</p>
        <h6>suivez nous sur :</h6><br>
          <a href="https://www.facebook.com/groups" class="fa fa-facebook"></a>
          <a href="https://www.votre_url.com" class="fa fa-twitter"></a>

          <a href="https://www.votre_url.com" class="fa fa-linkedin"></a>

          <a href="https://www.votre_url.com" class="fa fa-instagram"></a>

          <a href="https://www.votre_url.com" class="fa fa-skype"></a>
       </a>
       <br><br><br>
       <span>partgez nous </span> <br>
       <a href="https://www.facebook.com">
       <i class="icon ion-logo-facebook"></i>
       <a href="https://www.twitter.com">
       <i class="icon ion-logo-twitter"></i>
       <a href="https://www.instagram">
       <i class="icon ion-logo-instagram"></i>
    </div>
  </form>
</div>

<script>
  function openNav03() {
    document.getElementById('aide03').style.width = "25%";
  };
  function closeNav03() {
  document.getElementById("aide03").style.width = "0%";
  };
</script>