
<div class="footer">
    <div class="inner-footer">
    <div class="footer-items">
      <div class="logo">
    <h1 class="logo-text"><i><b><span style="    text-decoration-color:rgb(255, 255, 255)">Talki</span></b><sub style="text-decoration: overline; text-decoration-color: rgb(63, 181, 168);"><i class="fa fa-volume-control-phone" aria-hidden="true"></i>Walki</sub></i></h1>
  </div>
      <p><b>"L'éducation est votre arme la plus puissante pour changer le monde."  Nelson Mandela , 1994</b></p>
    </div>
    <div class="footer-items">
      <h2>Notre site</h2>
      <div class="border"></div>
        <ul>
          <a href="#"><li>Accueil</li></a>
          <a href=""><li>A propos de nous</li></a>
          <a href=""><li>Services</li></a>
          <a href=""><li>Contact</li></a>
        </ul>
      </div>
      <div class="footer-items">
      <h2>Atout</h2>
      <div class="border"></div>
        <ul>
          <a href="formation_academiques"><li>Université</li></a>
          <a href="offre_emplois"><li>Travail</li></a>
          <a href="offre_emplois"><li>Finance</li></a>
          <a href="offre_emplois"><li>Recrutement</li></a>
          <a href="professional_formations"><li>Technique</li></a>
        </ul>
      </div>
      <div class="footer-items">
      <h2>Adresse et contact</h2>
      <div class="border"></div>
        <ul>
          <li><i class="fa fa-map-marker" aria-hidden="true">: Alarobia, Ivandry -Antananarivo 101 -Madagascar</i></li>
          <li><i class="fa fa-phone" aria-hidden="true">: +26134 45 062 66</i></li>
          <li><i class="fa fa-envelope" aria-hidden="true">: talki-walki2019.herokuapp.com</i></li>
        </ul>
        <div class="social-media">
          <a  class="b" href="https://www.youtube.com/channel/UC_giEAbxnR8RZ62H_cRk5Eg"><i class="fa fa-youtube" aria-hidden="true"></i></a>
          <a  class="b" href="https://mail.google.com/mail/u/0/#inbox"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
          <a class="b" href="https://www.portaljob-madagascar.com/"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
          <a class="b" href="https://github.com/Nitosamus/TALKI_WALKI_Project"><i class="fa fa-github" aria-hidden="true"></i>
      </a>
        </div>
      </div>
    </div>
      <div class="footer-botton">
        <i>Copyright &copy; Talki-Walki 2019</i>
      </div>
  </div> 

