
<div class="FA-container">
  <div class="FA-title">
    <h1 class="FA-title-content" >Offre d'emplois</h1>
  </div>
  <div class="FA-cont-list">
    <% @offreemplois.each do |oe| %>
    <div class="FA-lst-titre">
      <%= oe.description %>
      <%=link_to "Voir",offre_emploi_path(oe.id), class:"FA-bout-voir"%>
    </div>
    <%end%>
  </div>
  <div id="FA-bout-offre">  
    <%= link_to "Proposer un emploi >>>", new_offre_emploi_path, class:"FA-bout"%>
  </div>
</div>
<small> <%= render "../views/layouts/footer"%> </small>
